@media only screen and (min-width: 64em) {
    section.forecast {
        display: flex;
    }
    nav ul li {
        display: flex;
    }
    /*large css for hamb menu*/
    body {
        font-size: 16px;
        font-family: sans-serif;
        color: black;
        margin: 0;
    }
    header,
    nav {
        margin: 0 auto;
        max-width: 75%;
    }
    h1 {
        text-align: center;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        background-color: darkgreen;
        overflow: hidden;
        text-align: center;
        font-size: 14pt;
    }
    .navigation li {
        display: inline-block;
        margin-left: .25rem;
    }
    .navigation a {
        display: flex;
        color: #eee;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.3rem;
    }
    .navigation a:hover {
        color: darkgreen;
        background-color: olivedrab;
    }
    .logo {
        display: flex;
        flex-direction: column;
    }
    footer {
        padding: 25px;
    }
