* {
    box-sizing: border-box;
}

/*General Body*/

body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

header,
nav,
main,
footer {
    max-width: 100%;
    text-align: center;
}

/*Header*/

header {
    text-align: center;
    color: darkgreen;
}

/*margins for title and subtitle, colors*/

header h1 {
    margin: 20px 0 0 0;
    font-size: 20pt;
}

header h2 {
    margin: 5px;
    color: forestgreen;
}

.backgroundimg {
    padding: .5rem;
    margin: .5rem;
}

h2 {
    margin: 2.5px;
    color: forestgreen;
}

.finePrint {
    font-size: 12pt;
    color: darkgreen;
}

article {
    display: inline-block;
    justify-content: center;
    margin: auto;
    padding: .5rem;
    margin: .5rem;
    border: solid;
    border-color: forestgreen;
    max-width: 75%;

}

section h3 {
    color: limegreen;
}

section article {
    display: block;
    justify-content: center;
    margin: auto;
    max-width: 450px;
}

.backgroundimg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

}


.goPro {
    display: flex;
    justify-content: center;
    padding-right: 2.5rem;
    font-size: 16pt;
    width: 100%;
    height: auto;

}

.mild {
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    width: 100%;
    height: auto;
}

.medium {
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    width: 100%;
    height: auto;
}

.extreme {
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    width: 100%;
    height: auto;
}


/*****Navigation*****/

/*Keeps list from displaying in small view for hamb. menu to take effect*/

nav li {
    display: none;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

/***Hamburger Menu stuff***/

.hamburger {
    display: flex;
}

.navigation.responsive li {
    background-color: darkgreen;
    /*Using Display Block to make whole button a link*/
    display: block;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1.2rem;

}

.navigation.responsive li a {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.navigation.responsive li a:hover {
    background-color: olivedrab;
    color: antiquewhite;
}

.navigation.responsive li:hover {
    color: olivedrab;
}

/**Unfortunately haven't figured out wayfinding**/

/*This works while clicking, and that is it*/

.navigation.responsive li a:enabled {
    background-color: green;
    color: antiquewhite;
}

/*.navigation.responsive.active {
    background-color: olivedrab;
    color: antiquewhite;
}*/

/*ctcd img*/

figcaption {
    color: darkgreen
}

/*Events Page Continental Divie IMG*/

.ctcd {
    width: 640px;
    height: auto;
}

/*Sales Page*/

.bike2 {
    width: 100%;
    margin: 0rem;
    padding: 10px;
    height: auto;
}

.picnic img {
    width: 398px;
    padding: 10px;
    margin: 0rem;
    height: auto;
}

.bike3 img {
    width: 398px;
    margin: 0rem;
    padding: 10px;
    height: auto;
}

/*Form Styling*/

form fieldset {
    display: block;
    justify-content: center;
    margin: auto;
    border: 1px solid;
    border-color: green;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 450px;
}

form label {
    display: block;

    padding-top: 1rem;
    color: blue;
    font-size: 12pt;
}

form legend {
    color: darkgreen;
    margin: 0 1rem;
    padding: 0 .5rem;
}

.frmlegends {
    max-width: 25rem;
}



form label.top,
form div {
    display: block;

    padding-top: 1rem;
    color: darkgreen;
    font-size: 12pt;
    text-align: left;

}

form label.top input,
form label.top select,
form label.sbs input,
form label.sbs select {
    display: block;

    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 30rem;
    background-color: rgba(0, 0, 0, 0.1);

}

.slidecontainer label {
    color: darkgreen;
}

.myRange label {
    color: darkgreen;
}

span {
    color: darkgreen;
}

form label.sbs {
    display: block;

    color: darkgreen;
    text-align: left;
}


form label.top input required {
    border-left: red solid 6px;
}

form label.top input required:valid {
    border-left: green solid 6px;
}

form input.submitBtn {
    display: block;
    border: none;
    background-color: green;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0rem;
    width: 96%;
    max-width: 13rem;
}

.ref ul li {
    text-align: left;
    list-style-position: inside;
}

.hamburger {
    font-size: 1.5rem;
    margin: 5px 20px;
}


footer div {
    text-align: center;
    font-size: 11pt;
    color: darkgreen;
}
