* {
    box-sizing: border-box;
}

/*General Body*/

body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

header,
nav,
main,
fotter {
    max-width: 100%;
    text-align: center;
}

/*Header*/

header {
    text-align: center;
    color: darkgreen;
}

/*margins for title and subtitle, colors*/

header h1 {
    margin: 20px 0 0 0;
    font-size: 20pt;
}

header h2 {
    margin: 5px;
    color: forestgreen;
}

.backgroundimg {
    padding: .5rem;
    margin: .5rem;
}

h2 {
    margin: 2.5px;
    color: forestgreen;
}

article {
    display: block;
    align-items: center;

    padding: .5rem;
    margin: .5rem;
    border: solid;
    border-color: forestgreen;

}

.backgroundimg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

}

.goPro {
    display: flex;
    justify-content: center;
    padding-right: 2.5rem;
    font-size: 16pt;
    width: 100%;
    height: auto;

}

.mild {
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    width: 100%;
    height: auto;
}

.medium {
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    width: 100%;
    height: auto;
}

.extreme {
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    width: 100%;
    height: auto;
}


/*****Navigation*****/

/*Keeps list from displaying in small view for hamb. menu to take effect*/

nav li {
    display: none;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

/***Hamburger Menu stuff***/

.hamburger {
    display: flex;
}

.navigation.responsive li {
    background-color: darkgreen;
    /*Using Display Block to make whole button a link*/
    display: block;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1.2rem;

}

.navigation.responsive li a {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.navigation.responsive li a:hover {
    background-color: olivedrab;
    color: antiquewhite;
}

.navigation.responsive li:hover {
    color: olivedrab;
}

.hamburger {
    font-size: 1.5rem;
    margin: 5px 20px;
}

footer div {
    text-align: center;
    font-size: 11pt;
}
