@media only screen and (min-width: 37.5em) {
    nav button {
        display: none;
    }
    nav ul li {
        display: inline;
    }
    header,
    nav {
        margin: 0 auto;
        max-width: 85%;
    }
    h1 {
        text-align: center;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        overflow: hidden;
        text-align: center;
        background-color: darkgreen;
    }
    .navigation li {
        display: inline-block;
        margin-left: .25rem;
    }
    .navigation a {
        display: flex;
        color: #eee;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.3rem;
    }
    .navigation a:hover {
        color: darkolivegreen;
        background-color: olivedrab;
    }
}
