/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family:  Arial, sans-serif, Ubuntu ;
    color: black;
}

h1 {
    font-size: 2.0rem;
    text-align: center;
    color: white;
    background-color: darkblue;
    margin: .5rem auto;
    padding: .5rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid darkblue;
}

ul {
    text-align: center;
    font-size: 1.25rem;
    list-style-position: inside;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
}

header, footer, footer a {
    text-align: center;
    background-color: darkblue;
    color: whitesmoke;

}

header img {
    width: 273px;
    height: auto;
    justify-content: center;
}
img{

}

footer {
    font-size: 12px;
}
